* {
  margin: 0;
  padding: 0;
  /* background-color: #ccc; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  padding-bottom: 100px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #eb2f64;
  padding: 15px;
  margin-bottom: 20px;
}

.p-1 {
  margin-right: 10px;
}

.section-1,
.section-2 {
  display: flex;

  align-items: center;
  display: inline-block;
  margin-bottom: 15px;
  background-color: #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blue {
  color: blue;
}

.container-1,
.container-2 {
  display: flex;
  align-items: center;
}

.inline-img-1 {
  margin-right: 1%;
  max-width: 80%;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inline-img-2 {
  margin-left: 5%;
  max-width: 80%;
}

.p-2 {
  margin-left: 10px;
}

.video {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.video video {
  width: 70%;
  height: auto;
}

.iframe-container {
  background-color: #ccc;
  padding: 10px;
}

.iframe {
  margin-left: 10px;
  width: 70%;
  height: 400px;
  background-color: #ffff;
}

a {
  display: flex;
  display: inline-block;
  text-decoration: none;
}
